/* color palette from <https://github.com/vuejs/theme> */

.app-container {
  min-height: 100vh;
  display: flex;
}

.btn-delete-user {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}